html {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.app {
  width: 100%; }

.app__content {
  display: flex;
  align-items: flex-start; }

.search__box {
  background: #ffa335;
  opacity: 0.85; }

.block {
  display: block !important; }

.header {
  margin: 2% 5%;
  margin-bottom: 0;
  display: flex;
  align-items: center; }

.full-width {
  width: 100%; }

.header__logo {
  width: 50px;
  height: 50px;
  margin-right: 20px;
  border-radius: 50%;
  border: 2px solid #3bb18d; }

.header__title {
  color: #3bb18d;
  font-size: 25px; }

.flights {
  background: #fff;
  width: 100%;
  border-radius: 5px;
  opacity: 0.95; }

.flight--timings {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; }

.flights__details {
  justify-content: space-between;
  border-bottom: 2px solid #3f51b5;
  color: #3bb18d; }

.flight {
  justify-content: space-around;
  border: 2px solid #3f51b5;
  border-radius: 5px;
  padding: 5px; }

.flight__details {
  width: 50%; }

.flight__timings {
  display: flex; }

.flight__logo {
  display: flex;
  flex-direction: column;
  justify-content: space-around; }

.flight__logo .airline {
  width: 160px;
  height: 95px;
  border: 2px solid;
  border-radius: 5px; }

.flight__departure, flight__return {
  width: 50%; }

.ai {
  background-position: -36px -365px; }

.indigo {
  background-position: -40px -50px; }

.booking--button {
  width: auto;
  height: 40px;
  outline: none;
  padding: 10px;
  font-size: 15px;
  font-weight: bolder;
  border-radius: 5px;
  background: #ffa335;
  border: 2px solid; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .flights {
    width: calc(98% - 30px);
    padding: 10px; }
  .flight {
    flex-direction: column;
    align-items: center; } }
